body {
    background-color: #06283D;
    color: red;
    font-family: 'Roboto', sans-serif;
}

.Page-header {
    text-align: center;
}

nav {
    text-align: center;
}

.p-1 {
    text-align: center;
}

#h3 {
    font-weight: bold;
    color: green;
}

.section-1 {
    text-align: center;
    list-style-position: inside;
}



/* The flip card container */
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    display: flex;
    flex-direction: column;
  }
  
  /* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
.flip-card-back {
    background-color: #9FC9F3;
    color: white;
    transform: rotateY(180deg);
  }

.content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
  }

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
  }

  a {
    color: black;
    text-decoration: double;
    font-weight: bold;
  }

.about-us {
    text-align: center;
}